{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 8 versions", "safari >= 7"]
        }
      }
    ],
    ["es2015", {
      "modules": false
    }]
  ],
  "plugins": ["transform-runtime", "syntax-dynamic-import", [
    "component",
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ]]
}